<h1 class="page-header">Edit image profile</h1>
<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>
  <div class="col-md-8">
    <input type="text" ng-model="profile.name" class="form-control input-md" />
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Bucket</label>
  <div class="col-md-8">
    <select class="form-control input-md" ng-model="selectedBucket" ng-options="bucket as bucket.name for bucket in buckets">
      <option value="">Default</option>
    </select>
    <span class="help-text">The bucket in which the image cache will be stored. You can add more buckets under file manager settings.</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Width</label>
  <div class="col-md-8">
    <input type="number" ng-model="profile.width" class="form-control input-md" />
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Height</label>
  <div class="col-md-8">
    <input type="number" ng-model="profile.height" class="form-control input-md" />
  </div>
</div>
<fieldset>
  <legend>Actions</legend>
  <button class="btn btn-success" ng-click="save()">Save</button>
</fieldset>